<div class="col-md-12">
 
    <h1>Stories</h1>
    <h6 style="margin-bottom:30px;">What other says...</h6>

   <div class="jumbotron" *ngFor="let story of pagedItems">
   <p>{{story.Data}}</p>
   <div style="font-style:italic;"><span style="font-weight:bold;"> Posted by :</span> {{story.UserId}} on {{story.CreatedOn}} </div>
   </div>

     <!-- pager -->
     <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}" class="" >
            <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>

</div>