/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
}

.help-block {
    font-size: 12px;
    color:red;
}

 body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    font-family: 'Oxygen', sans-serif;
    color: white;
    background-image:url("./app/imgs/kid4.jpg");
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
}

.main{
    margin-top: 10px;
}

h1.title { 
   font-size: 50px;
   font-family: 'Passion One', cursive; 
   font-weight: 400; 
}

hr{
   width: 10%;
   color: #fff;
}

.form-group{
   margin-bottom: 15px;
}

label{
   margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
   font-size: 11px;
   padding-top: 3px;
}

.main-login{
    background-color: #fff;
   /* shadows and rounded borders */
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
   padding: 40px 40px;

}

.login-button{
   margin-top: 5px;
}

.login-register{
   font-size: 11px;
   text-align: center;
}

/*FOOTER*/
.footer-bs {
    background-color: #3c3d41;
	padding: 60px 0px;
	color: rgba(255,255,255,1.00);
    width:100%;
    position: relative;
    left: 0;
    bottom: 0; 
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 0px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:0px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:0px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 0px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}


.nav.center ul {
    list-style: none;
    text-align: center;
 }
 
 .nav.center ul li {
    display: inline-block;
 }

 links{
     color: white;
 }
 
 btnRed{
     background-color: darkgrey;
     color: black;
 }

 .jumbotron{
     color: black;
 }

 /*Pagination*/
 .pagination li a{
   height: 10px;
   width: 10px;
   background-color:#DE1B1B;
   color:white;
   margin-left: 5px;
   padding: 5px;
   border-radius: 20%;
   border-color:white;
   border-width: 2px;
}

.pagination li a.active{
    height: 10px;
    width: 10px;
    background-color: black;
    color: white;
    margin-left: 5px;
    padding: 5px;
    border-radius: 20%;
    border-color:white;
    border-width: 2px;
 }

 .pagination li a.disabled{
    height: 10px;
    width: 10px;
    background-color:#DE1B1B;
    color: darkgray;
    margin-left: 5px;
    padding: 5px;
    border-radius: 20%;
    border-color:white;
    border-width: 2px;
 }

/*rounded corner articles with folded corner */
.ribbon {
   fill: rgba(20, 235, 206, 0.726);
    position: relative;
    line-height: 40px;
    padding: 20px 20px;
    font-family: helvetica;
    color: rgb(48, 46, 46);
    font-weight: 100;
    margin-bottom: 20px;
    background-color: rgba(20, 235, 206, 0.726);
  border-radius: 2%;
  }
  
  .fold {
    position: absolute;
    border-style: solid;
  }
  .fold.top {
    top: 0;
  }
  .fold.top.left {
    left: 0;
    border-width: 12px 12px 0  0;
    border-color: #EEEBDC #EEEBDC rgba(20, 235, 206, 0.726) #EEEBDC;
  }
  .fold.top.right {
    right: 0;
    border-width: 0 12px 12px  0;
    border-color: #EEEBDC #EEEBDC rgba(20, 235, 206, 0.726) #EEEBDC;
  }
  .fold.bottom {
    bottom: 0;
  }
  .fold.bottom.left {
    left: 0;
    border-width: 0 12px 12px 0;
    border-color: #EEEBDC rgba(20, 235, 206, 0.726) #EEEBDC #EEEBDC;
  }
  .fold.bottom.right {
    right: 0;
    border-width: 12px 12px 0  0;
    border-color: rgba(20, 235, 206, 0.726) #EEEBDC #EEEBDC #EEEBDC;
  }
  
  /***
  * The below css is only used to 
  * style this example and is not 
  * needed outside of this demo
  * https://codepen.io/Presto/pen/Ajkte
  ***/
  body {
    background-color: #EEEBDC;
    padding: 25px;
  }
  
  h1 {
    font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
  }
  
a{
  color: white;
}

.btn{
 cursor: hand; 
 cursor: pointer;
}

/*RICH TEXT COTNROL*/



